.container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  outline: none;
  border: none;
}

.container:hover {
  background: var(--gray);
}
