.container {
  padding: var(--s-spacing) calc((100vw - var(--width)) / 2) var(--xs-spacing);
  border-bottom: 1px solid var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--xl-spacing);
  background: var(--white);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: var(--s-spacing);
}

@media (max-width: 768px) {
  .container {
    padding: var(--xs-spacing) var(--xs-spacing) 0 var(--m-spacing);
    margin-bottom: var(--s-spacing);
  }
}
