:root {
  --width: 1024px;

  /* Breakpoints */
  --phone: 768px;

  /* Spacing */
  --xs-spacing: 5px;
  --s-spacing: 10px;
  --m-spacing: 15px;
  --l-spacing: 20px;
  --xl-spacing: 25px;

  /* Colors */
  --white: #fff;
  --dark-gray: #dbdbdb;
  --gray: #fafafa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: var(--width);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--m-spacing);
  }
}
